:root {
	--liver: #664e4c;
	--yellowGreen: #c1d37f;
	--flax: #e2d58b;
	--medium: #f0e2a3;
	--apricot: #f9d4bb;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

header {
	background-color: var(--medium);
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 20%;
	position: sticky;
}

header nav {
	display: flex;
	text-align: center;
}

header figure img {
	height: 100px;
}

header nav a {
	font-size: 15pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: none;
	color: var(--liver);
	text-transform: uppercase;
}

#inicio {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#inicio figure a {
	color: var(--liver);
	text-decoration: none;
	font-size: 30pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	margin-left: 40px;
}

header #menu_contato {
	margin: 0px 700px;
}

header #categorias {
	background-color: var(--flax);
	width: 10%;
	align-items: center;
}

#menu-categorias li {
	list-style: none;
	margin-top: 20px;
}

#menu-categorias li a {
	font-size: 15pt;
}

#menu-categorias ul {
	padding: 0px 10px;
}

#menu-categorias {
	background-color: var(--apricot);
	top: 10%;
	width: 10%;
	height: 100%;
	position: sticky;
}

#menu-categorias a {
	text-decoration: none;
	color: var(--liver);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 11pt;
}

#menu-categorias hr {
	color: var(--liver);
	height: 2px;
}

main {
	background-color: var(--apricot);
	display: flex;
	justify-content: row;
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #fff;
	width: 90%;
	padding: 20px;
}

.content img {
	width: 200px;
	height: 200px;
	object-fit: contain;
	transform: scale(1);
	transition-property: height, transform;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.content figure:hover {
	height: auto;
	transform: scale(1.2);
	background-color: rgb(255, 255, 255);
	color: #000000;
	z-index: 100;
	border: 3px solid var(--liver);
	border-radius: 15px;
}

.itens > section > div {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 15px;
}

.itens > section {
	text-align: center;
}

.itens section h2 {
	color: var(--liver);
	font-size: 40pt;
	margin-top: 30px;
}

.itens {
	border: 3px solid var(--liver);
	margin: 15px 0px;
	border-radius: 15px;
}

#carnes_title {
	margin-top: 0 !important;
	margin-bottom: 20px;
}

#graos,
#temperos,
#margarinas {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main figure {
	text-align: center;
	z-index: 0;
	background-color: rgb(255, 255, 255);
	transform: scale(1);
	transition-property: height, transform, z-index, background-color, color, border;
	transition-duration: 500ms;
	transition-timing-function: linear;
}

figcaption {
	display: block;
	text-align: center;
	font-size: 18pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #3d3232;
	transform: scale(1);
	background-color: rgba(255, 255, 255, 0);
	transition-property: height, transform, background-color, color;
	transition-duration: 1s;
	transition-timing-function: linear;
}

span {
	color: red;
	font-weight: bold;
	font-size: 20pt;
}

#formulario {
	width: 500px;
	border: 3px var(--liver) solid;
	border-radius: 15px;
	margin: auto;
	display: flex;
	justify-content: center;
	color: var(--liver);
	align-items: center;
	padding: 20px;
}

#formulario form label {
	font-size: 17pt;
}

#formulario form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#contato h2 {
	text-align: center;
	margin-bottom: 20px;
}

input,
textarea {
	margin: 5px 0px;
	border: 0px;
	border: 1px solid var(--liver);
}

input {
	width: 100%;
	height: 30px;
	font-size: 20px;
}

textarea {
	font-size: 20px;
}

label {
	display: none;
}

input[type="submit"] {
	border: none;
	background: var(--liver);
	color: #fff;
	border-radius: 15px;
}

footer {
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #dcdcdc;
	width: 100%;
	height: 200px;
}

footer figure {
	width: 4%;
}

footer figure img {
	width: 100%;
}

footer nav a {
	margin: 0px 40px;
}

.top-footer {
	padding: 0px 30px;
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.top-footer i {
	font-size: 20pt;
	margin: 0px 10px;
}

.bottom-footer {
	padding: 0px 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.bottom-footer h3 {
	width: 100%;
	text-align: center;
	font-size: 15pt;
}

footer p {
	margin: 0;
}

footer .top-footer a {
	font-size: 15pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: none;
	color: var(--liver);
	text-transform: uppercase;
}
