* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

header {
	background-color: #f0e2a3;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 20%;
	position: sticky;
}

nav {
	display: flex;
	text-align: center;
}

header figure img {
	height: 100px;
}

header nav a {
	font-size: 15pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: none;
	color: #664e4c;
	text-transform: uppercase;
}

#inicio {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#inicio figure a {
	color: #664e4c;
	text-decoration: none;
	font-size: 30pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	margin-left: 40px;
}

#contato {
	margin: 0px 700px;
}

#categorias {
	background-color: #e2d58b;
	width: 10%;
	align-items: center;
}

#menu-categorias li {
	list-style: none;
	margin-top: 20px;
}

#menu-categorias li a {
	font-size: 15pt;
}

#menu-categorias ul {
	padding: 0px 10px;
}

#menu-categorias {
	background-color: #f9d4bb;
	top: 10%;
	width: 10%;
	height: 100%;
	position: sticky;
}

#menu-categorias a {
	text-decoration: none;
	color: #664e4c;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 11pt;
}

#menu-categorias hr {
	color: #664e4c;
	height: 2px;
}

main {
	background-color: #f9d4bb;
	display: flex;
	justify-content: row;
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #fff;
	width: 90%;
	padding: 20px;
}

.content img {
	width: 200px;
	height: 200px;
	transform: scale(1);
	transition-property: height, transform;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.content figure:hover {
	height: auto;
	transform: scale(1.5);
	background-color: rgb(255, 255, 255);
	color: #000000;
	z-index: 100;
	border: 3px solid #664e4c;
}

.itens > section > div {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 15px;
}

.itens > section {
	text-align: center;
}

.itens section h2 {
	color: #664e4c;
	font-size: 40pt;
	margin-top: 30px;
}

.itens {
	border: 3px solid #664e4c;
	margin: 15px 0px;
}

#carnes_title {
	margin-top: 0 !important;
	margin-bottom: 20px;
}

main figure {
	text-align: center;
	z-index: 0;
	background-color: rgb(255, 255, 255);
	transform: scale(1);
	transition-property: height, transform, z-index, background-color, color, border;
	transition-duration: 500ms;
	transition-timing-function: linear;
}

figcaption {
	display: block;
	text-align: center;
	font-size: 18pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #3d3232;
	transform: scale(1);
	background-color: rgba(255, 255, 255, 0);
	transition-property: height, transform, background-color, color;
	transition-duration: 1s;
	transition-timing-function: linear;
}

span {
	color: red;
	font-weight: bold;
	font-size: 20pt;
}
